
*{
  margin: 0 
}


.App {
  
  text-align: center;
  

}

.food{
  display: flex;
  justify-content: space-evenly;
  background-color: tomato;

  object-fit: contain;
}

.author{
  /* display: flex;
  justify-content: space-evenly; */
  background-color: turquoise;

  object-fit: contain;
}